.ContactWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0 3rem 0 3rem;
    h1{
        margin-bottom: .5rem;
        width: 100%;
        font-size: 4rem;
        color: #F8F988;
    }
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1{
        margin-bottom: .5rem;
        text-align: center;
        width: 100%;
        font-size: 4rem;
        color: #F8F988;
    }
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        cursor: pointer;
        &:hover{
            color: #F8F988;
        }
        
    }
    .link{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        color: white;
        text-decoration: none;
        padding-top: 5px;
        &:hover{
            color: #F8F988;
        }
    }
}