.layoutWrapper{

    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto 1fr;

    .navBarWrapper{
        
        grid-column: span 6;

    }

    .cubeWrapper{

        grid-column: span 1;
        display: grid;
        margin-top: 2rem;
        width: 100%;
        transform: translate(20%,25%);
        z-index: 1;

    }

    .childrenWrapper{

        grid-column: 2 / span 5;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        height: calc(100vh - 8rem);
        overflow-x: hidden;
        overflow-y: scroll;
        border: 1px solid;
        border-radius: 6px;
        /* width */
        &::-webkit-scrollbar {
          width: 6px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: transparent; 
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #888; 
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #555; 
        }
        
    }
}

/* Responsiveness */

@media screen and (max-width:768px) {
  .layoutWrapper{

    display: flex;
    flex-direction: column;

    .cubeWrapper{

        height: 100%;
        width: 100%;
        transform: translateX(0) translateY(-2rem);
        display: flex;
        justify-content: center;


    }

    .childrenWrapper{

        display: flex;
        height: calc(100vh - 3rem - 110px);
        border-color: #454545;
        transform: translateY(-7rem);

        
    }
}
}