.layoutContainer{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: cadetblue;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.buttonsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: aliceblue;

}

.navContainer{
    background-color: aliceblue;
    display: grid;
    grid-template-rows: 1fr 1fr;
}