//* variables *//

$cardWidth: 400px;
$cardHeight: 350px;
$miniCardWidth: 120px;
$miniCardHeight: 200px;


//*  slider  *//

.mainLayout{

    display: grid;
    width: fit-content;
    height: fit-content;
    grid-template-columns: 4rem $cardWidth+2*$miniCardWidth 4rem;
    grid-template-rows: auto auto;
    align-items: center;
    box-sizing: content-box;
    
}

.cardCollectionContainer{

    position: absolute;
    display: flex;
    align-items: center;
    margin: auto;
    height: $cardHeight;

}

.frame{

    position: relative;
    box-sizing: content-box;
    overflow: hidden;
    width: $miniCardWidth+$cardWidth;
    height: $cardHeight;
    padding-left: $miniCardWidth;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;


}

//*  sliderCard  *//

.cardContainer{

    width: $cardWidth;
    height: $cardHeight;
    border-radius: 1rem;
    background: #2D2727;
    color: white;
    display: grid;
    place-items: center;
    transition: .3s;
    overflow: hidden;

}

.minimizeCard {

    width: 120px;
    height: 200px;
    opacity: .3;
    transition: .3s;
    
}

.minimizeRight{ 
    transform: translateX(-$miniCardWidth/2);
}

.minimizeLeft { 
    transform: translateX($miniCardWidth/2);
    justify-self: end;
}

.mainCard {
    z-index: 1;
    box-shadow: 0 0 5px white;
}

.invisible{
    opacity: 0;
}

//*  sliderButton  *//

.sliderButton {
    
    border: 12px solid white;
    border-right: 0;
    border-top: 0;
    width:  35px;
    height: 35px;

}

.sliderButtonLeft {
    transform: rotate(45deg);
    justify-self: flex-end;
}

.sliderButtonRight{
    transform: rotate(-135deg);
    justify-self: flex-start;
}


.sliderButtonContainer{

    height: 100%;
    width: 4rem;
    display: grid;
    align-items: center;

}

//* slideBar *//

.slideBarContainer{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    grid-column: span 3;
    gap: .5rem;

}

.dot{
    
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 100%;
    
}

.dotHighlight{
    background-color: mediumseagreen;
}