.layout{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem 0 3rem 0;
    height: fit-content;

}

.header{
 
    color: white;
    filter: drop-shadow(0px 0px 2px #F8F988);
    margin: 3rem auto 4rem auto;
    font-size: 3rem;
    padding: 1rem;

}

.iconsContainer{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    justify-content: space-around;
    margin: auto;    

}

/* Responsiveness */

@media screen and (max-width:768px) {

    .iconsContainer{

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        
    }
    
    .header {

        font-size: 2.2rem;

    }
}