.About{
    width: 100%;
    color: white;
    max-width: 450px;
    margin-top: 6rem;
    height: 100%;

    @media screen and (min-width:450px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }

    div{
        padding: 0 2rem 0 2rem;
        line-height: 1.6rem;
        h1{
            color: #8BF5FA;
            padding-bottom: 2rem;
            line-height: 2.5rem;

        }
        p{
            padding-bottom: .5rem;
        }
        span{
            color:#8BF5FA
        }
    }
}
.profilePicture{
    margin: 2rem 0 2rem 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}