.mainContainer{

    height: 100%;
    width: 100%;
    padding: 4rem;
    overflow: hidden;
}

.typedWords{

    color: rgb(
        80,
        80,
        80
    );
    font-size: 1rem;
    color: white;
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;

}

/* Responsiveness */

@media screen and (max-width:768px) {
    .mainContainer{
        padding: 1rem;
        padding-top: 10rem;
    }
    .typedWords{
        font-size: 1rem;
    }
}