$dark-bg: #454545;

// Pastel shades
$pastel-1: #E2C9A9;
$pastel-2: #D4BFA3;
$pastel-3: #C7B59D;
$pastel-4: #B9AB97;

.ProjectCard {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    color: white;
    border-radius: 12px;
    background-color: #454545;
    margin: 0 1rem 0 1rem;
    overflow: hidden;

    .title {
        font-size: 2rem;
        color: #F79540;
        text-align: center;
        padding: 2rem 0 2rem 0;
    }

    .image {
        height: 200px;
        position: relative;
        background-color: rgba($color: #fff, $alpha: .5);
        background-color: #454545;
    }

    .description {
        white-space: pre-wrap;
        padding: 2rem;
        max-width: 400px;
        margin: auto;
        text-align: center;
    }

    .links {
        display: flex;
        justify-content: space-around;
        background-color: #F79540;

        .link {
            display: flex;
            align-items: center;
            gap: 12px;
            text-decoration: none;
            color: black;
            font-size: 1.15rem;
            padding: .5rem 0 .5rem 0;
        }
    }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}  
.spinning {
    animation-name: spin;
    animation-duration: 2s; /* The duration of the animation */
    animation-iteration-count: infinite; /* The number of times the animation should repeat */
    animation-timing-function: linear; /* The timing function of the animation */
}