.scene {
  width: 200px;
  height: 200px;
  perspective: 400px;
  border: 1px solid #CCC;
  margin: 80px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  background: #ccccccc2;
}

.cube__face__front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face__right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face__back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face__left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face__top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face__bottom { transform: rotateX(-90deg) translateZ(100px); }

.cube__show__front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube__show__right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube__show__back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube__show__left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube__show__top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube__show__bottom { transform: translateZ(-100px) rotateX(  90deg); }