@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$size: 200px;

.scene {
  width: $size;
  height: $size;
  perspective: $size*2;
}

.cube {
  font-family: 'Press Start 2P', cursive;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-$size/2);
  transition: transform .8s;
}

.cube__face {
  position: absolute;
  width: $size;
  height: $size;
  border: 20px solid rgba(0, 0, 0, 0.103);
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  gap: 1rem;
  padding: 0rem;
  background: #ffffffef;
  p{
    &:nth-child(1){
      font-size: 2rem;
    }
    &:nth-child(2){
      font-size: 1rem;
    }
  }
}

.cube__face__front  { transform: rotateY(  0deg) translateZ($size/2); }
.cube__face__right  { transform: rotateY( 90deg) translateZ($size/2); }
.cube__face__back   { transform: rotateY(180deg) translateZ($size/2); }
.cube__face__left   { transform: rotateY(-90deg) translateZ($size/2); }
.cube__face__top    { transform: rotateX( 90deg) translateZ($size/2); }
.cube__face__bottom { transform: rotateX(-90deg) translateZ($size/2); }

.cube__show__front  { transform: translateZ(-$size/2) rotateY(   0deg); .cube__face{ background-color: #F5F1ED; color:black;opacity: 1; transition: .4s; border-color: transparent;}}
.cube__show__right  { transform: translateZ(-$size/2) rotateY( -90deg); .cube__face{ background-color: #F5853F; color:black;opacity: 1; transition: .8s; }}
.cube__show__back   { transform: translateZ(-$size/2) rotateY(-180deg); .cube__face{ background-color: #17C3B2; color:black;opacity: 1; transition: .8s; }}
.cube__show__left   { transform: translateZ(-$size/2) rotateY(  90deg); .cube__face{ background-color: #5F00BA; color:white;opacity: 1; transition: .8s; }}
.cube__show__top    { transform: translateZ(-$size/2) rotateX( -90deg); .cube__face{ background-color: #BA274A; color:white;opacity: 1; transition: .8s; }}
.cube__show__bottom { transform: translateZ(-$size/2) rotateX(  90deg); .cube__face{ background-color: #275DAD; color:white;opacity: 1; transition: .8s; }}

